# 创建本地的网络的方法
services:
  personaldb:
    container_name: ppt_personal_db
    build:
      context: ./backend/personaldb
      dockerfile: Dockerfile
    ports:
      - "9100:9100"
    networks:
      - main_ppt_network
    volumes:
      - ./backend/personaldb:/app
    restart: unless-stopped
    extra_hosts:
      - "host.docker.internal:host-gateway"

  outline_api:
    container_name: ppt_outline_api_app
    build:
      context: ./backend/simpleOutline
      dockerfile: Dockerfile
    ports:
      - "10060:10001"
    networks:
      - main_ppt_network
    restart: unless-stopped
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - OUTLINE_API=http://ppt_outline_api_app:10001
    volumes:
      - ./backend/simpleOutline:/app
    command: >
      python main_api.py
      --host 0.0.0.0
      --port 10001
      --agent_url http://ppt_outline_api_app:10001/

  content_api:
    container_name: ppt_content_api_app
    build:
      context: ./backend/slide_agent
      dockerfile: Dockerfile
    ports:
      - "10061:10011"
    networks:
      - main_ppt_network
    restart: unless-stopped
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - CONTENT_API=http://ppt_content_api_app:10011
    volumes:
      - ./backend/slide_agent:/app   # 关键：本地覆盖容器/app
    command: >
      python main_api.py
      --host 0.0.0.0
      --port 10011
      --agent_url http://ppt_content_api_app:10011/

  main_api:
    container_name: ppt_main_api_app
    build:
      context: ./backend/main_api
      dockerfile: Dockerfile
    ports:
      - "6800:6800"
    networks:
      - main_ppt_network
    volumes:
      - ./backend/main_api:/app
    restart: unless-stopped
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - OUTLINE_API=http://ppt_outline_api_app:10001
      - CONTENT_API=http://ppt_content_api_app:10011
      - PERSONAL_DB=http://ppt_personal_db:9100

  frontend:
    container_name: ppt_frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "8008:80"
    networks:
      - main_ppt_network
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on:
      - main_api

networks:
  main_ppt_network:
    name: trainpptagent-main_ppt_network
    driver: bridge



